.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    gap: 1rem;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /*These two lines are counted as one :-)   */   
  
    display: flex;
    align-items: center;
  }

.form-signin .checkbox {
    font-weight: 400;
}


.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}